# MongoDB for local development. Run: docker-compose up -d
services:
  mongo:
    image: mongo:7
    container_name: techstep-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
